mixin review(reviewData)
    div(class="mb-4 border-bottom border-5 border-dark rounded-1")
        div(class="bg-light border border-bottom-0 border-5 rounded-top border-dark p-3")
            div(class="d-flex d-flex align-items-center")
                img(class="border-5 border-dark border-circle me-2" src="img/user-icon.png" alt="User icon" style="width: 2em;")
                p(class="text-dark fst-italic fs-5 m-0")= reviewData.user
            p(class="text-dark fs-6 p-2 mb-0")= reviewData.review
        div(class="d-flex bg-dark justify-content-center p-2")
            img(src="/node_modules/bootstrap-icons/icons/star-fill.svg" style="width: 30px;")
            img(src="/node_modules/bootstrap-icons/icons/star-fill.svg" style="width: 30px;")
            img(src="/node_modules/bootstrap-icons/icons/star-fill.svg" style="width: 30px;")
            img(src="/node_modules/bootstrap-icons/icons/star-fill.svg" style="width: 30px;")
            img(src="/node_modules/bootstrap-icons/icons/star-fill.svg" style="width: 30px;") 

mixin computerDisplay(computerDetails)
    div(style="width: 30%")
        div(class="d-flex align-items-center justify-content-center p-3")
            img(src=computerDetails.image style=computerDetails.imgWidth draggable="false")
        div(class="d-flex align-items-center justify-content-center border-top border-2 border-dark")
            p(class="fs-5 m-0 mt-2")= computerDetails.specs
        div(class="d-flex justify-content-center mt-3 mb-3")
            div(class="d-flex align-items-center justify-content-evenly view--btn__div" style="width: 100%")
                p(class="text-dark fs-4 fw-bold m-0 dummy--no-click")= computerDetails.price
                div(class="d-flex align-items-center justify-content-center bg-dark border border-1 rounded-pill border-dark hover-cursor view--btn" data-view=computerDetails.data style="width: 50%")
                    p(class="text-light m-1 fw-bold fs-5") View